ConfigFile(
    auth_file_path: "default/auth.ron",
    db_file_path: "default/db",
    http_port: 42069,
    rest_api_features: None,
    accounts_to_sync: [AccountToSync("Primary", [IsPrimary(true)])],
)
